 /* Colores de fondo de los bloques 
Gris background navbar => rgba(0, 0, 0, 0.8);
Gris background bloques intermedios => rgb(242, 242, 242);
Gris background footer => rgb(245, 245, 247);

Colores de tipografía 
Tipografía oscura => rgb(29,29,31);
Tipografía footer => rgb(81, 81, 84);

Azul botones y links => rgb(0, 113, 227); */

/* imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

header {
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
}

nav {
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: 300;
    height: 44px;
    width: 100%;
    position: fixed;
    top: 0;
}

nav ul {
    height: 100%;   
}

nav ul li {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

nav ul li a {
    color: #86868b;
    margin: 0 50px;
    padding: 0 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a:hover {
    color: rgb(242, 242, 242);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

p {
    padding-top: 10px;
    font-weight: 300;
    line-height: 1.5em;
}

a {
    margin: 0 auto;
    text-decoration: none;
    color: rgb(0, 113, 227);
    margin-bottom: 30px;
    font-weight: 300;
}

a:hover {
    text-decoration: underline;
}

button {
    display: block;
    margin: 20px auto;
    background-color: rgb(0, 113, 227);
    color: white;
    border-radius: 16px;
    padding: 8px 15px;
    border: 0;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

footer {
    background-color: rgb(245, 245, 247);
    color: #86868b;
    width: 100%;
    height: 120px;
}

footer div {
    width: 80%;
    height: 100%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}

footer ul {
    margin-top: .5em;
    margin-bottom: 1em;
}

footer ul li a {
    color: #86868b;
    margin: 0 0px;
    padding: 0 5px;
    height: 100%;
}

footer ul li { 
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    border-right: solid #86868b 1px;
    margin-left: -4px;
    padding: 0 10px;
}

footer ul li:first-child {
    padding-left: 0;
}

footer ul li:last-child { 
    border: 0px;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#new-tag {
    color: orange;
}

#img-hero {
    margin-top: 60px;
    width: 80%;
}

#delivery {
    height: 16em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#delivery img {
    width: 15%;
    margin-bottom: 12px;
}

#delivery a {
    margin-top: 10px;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 95%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 49%;
    padding-top: 40px;
    background-color: rgb(242, 242, 242);
    height: auto;
    overflow: hidden;
}

.card div {
    width: 60%;
    margin-top: 2em;
}

.card img {
    height: 350px;
    width: auto;

}

.card div {
    margin-bottom: 2em;
}

.card > div > p, .card > div > h4 {
    margin-bottom: 10px;
}
